<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbtron">
        <h1>
          <%= title %>
        </h1>
        <p>欢迎来到我的地盘。</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/posts">Welcome to
            <%= title %>
          </a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>